@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  font-family: Ubuntu, Arial, sans-serif;
}

#header {
  display: flex;
  flex-direction: row;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

#projects h1{
  text-align: center;
  font-size: 70px;
}

header h1,
header p {
  display: flex;
  margin: 0;
}
#header-img {
  width: 75px;
  height: 75px;
}

nav ul {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -20px;
}
nav li {
  display: inline;
  margin-right: 20px;
}

#welcome-section {
  padding-top: 25px;
  padding-bottom: 100px;
  background: repeating-linear-gradient(
    45deg,
    #55cdfc 0px,
    #55cdfc 40px,
    #f7a8b8 0px,
    #f7a8b8 80px,
    white 0px,
    white 120px,
    #f7a8b8 0px,
    #f7a8b8 160px
  );
}

#welcome-box {
  width: 250px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  margin: auto;

  margin-top: 25px;
  border-radius: 25px;
  background-color: white;
  opacity: 90%;
  text-align: left;
}

#welcome-box h1 {
  font-size: 50px;
}

#navbar {
  background-color: white;
}
